.m-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.m-messageBox {
    width: 450px;
    height: 200px;
    background-color: #fff;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 4px;
}

.m-messageBox .m-content-message {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b8bcc3;
    box-sizing: border-box;
}

.m-messageBox .m-icon-messageBox-delete {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 40px;
	height: 40px;
}

.m-messageBox .m-icon-messageBox-warning {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 40px;
	height: 40px;
}

.m-messageBox .m-content-messageBox {
    height: 100%;
    margin-left: 16px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.m-messageBox .m-content-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.m-messageBox .m-btn-yes{
    padding: 0px 16px 0 16px;
    background-color: #2ca01c;
    color: #fff;
    border: 0;
}

.m-messageBox .m-btn-no{
    /* padding: 0px 16px 0 16px;
    background-color: transparent;
    color: #111;
    border: 1px solid #8d9096; */

    padding: 0px 16px 0 16px;
    background-color: #2ca01c;
    color: #fff;
    border: 0;
}

.m-msg-warning {
    display: flex;
    justify-content: center !important; 
}