.m-grid-paging {
    margin-top: 6px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
    justify-content: space-between;
}

.m-grid-paging .m-paging-right {
    display: flex;
}

.m-grid-paging .m-page-list {
    display: flex;
    align-items: center;
}

.m-grid-paging .m-prev-page {
    cursor: pointer;
    padding: 2px 3px 2px 3px;
}

.m-grid-paging .m-number-list {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px 2px 4px;
    align-items: center;
}

.m-grid-paging .m-page-number-selected {
    font-weight: 900;
    border: 1px solid #bbb;
}