.m-grid-table {
    margin-top: 16px;
    height: calc(100vh - 233px);
    overflow-y: auto;
    box-sizing: border-box;
}

.m-table {
    border-collapse: collapse;
    width: 100%;
}

.m-table thead tr {
    background-color: #E5E8EC;
    border-bottom: 1px solid #c7c7c7;
    height: 34px;
    border-collapse: collapse separate;
    z-index: 2;
}

.m-table .m-checkbox {
    padding-left: 12px;
    margin-bottom: 0px;
}

.m-table tbody tr:hover {
    background-color: #F2F9FF;
}

.m-table tbody tr {
    height: 44px;
}

.m-table thead th {
    background-color: #E5E8EC;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    text-transform: uppercase;
    padding: 0 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-sizing: border-box;
}

.m-table tbody td {
    border-right: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    box-sizing: border-box;
}

.m-table-func {
    display: flex;
    justify-items: center;
    margin: auto;
    justify-content: center;
}

.default-action {
    color: #0075c0;
    font-weight: 600;
    cursor: pointer;
    margin-right: 25px;
}

.action-employee {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    position: relative;
}

.choice-action {
    width: 110px;
    height: 90px;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    display: none;
    right: 30px;
    margin-top: 30px;
}

.choices-show {
    display: block;
}

.choice-action-item {
    padding-left: 8px;
    height: calc(84px / 3);
    line-height: 28px;
}

.choice-action-item:hover {
    color: #35bf22;
    background-color: #ccc;
    cursor: pointer;
    font-weight: 600;
}

.icon-action {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -896px -359px;
    width: 16px;
    height: 16px;
    margin-left: 15px;
    cursor: pointer;
    position: absolute;
}